/*
    Licence    : AGPL

    Created on : 07.06.2023 01:05
    Author     : @roland@f.haeder.net

    This is satire!
*/

#topbar-first,
nav.navbar {
	background-repeat: no-repeat !important;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), linear-gradient(rgba(73, 0, 11, 0.8), rgba(73, 0, 11, 0.8)), linear-gradient(rgba(143, 0, 22, 0.8), rgba(143, 0, 22, 0.8)), linear-gradient(rgba(238, 27, 36, 0.8), rgba(238, 27, 36, 0.8)), linear-gradient(rgba(255, 126, 38, 0.8), rgba(255, 126, 38, 0.8)), linear-gradient(rgba(255, 202, 12, 0.8), rgba(255, 202, 12, 0.8)), linear-gradient(rgba(253, 241, 0, 0.8), rgba(255, 255, 0, 0.8)) !important;
	background-position: 0 0,0 8px,0 16px,0 24px,0 32px,0 40px,0 48px !important;
	background-size: 100% 15% !important;
}

#topbar-first .nav > .open > a,
#topbar-first .nav > .open > button {
	background-color: black !important;
	border-radius: 5px !important;
}

.nav-pills .dropdown-menu,
.nav-tabs .dropdown-menu,
.account .dropdown-menu,
.contact-photo-wrapper .dropdown-menu,
.btn.btn-primary,
.btn-info {
	background-color: black !important;
	border-radius: 5px !important;
}

aside .widget li:hover,
aside .widget li.selected,
.nav-container .widget li:hover {
	border-left: 3px solid rgba(253, 241, 0) !important;
}

ul.tabs li a {
	color: rgba(238, 27, 36) !important;
}

body a:hover,
.btn-link:hover,
body a:focus,
.btn-link:focus,
body a:active,
.btn-link:active,
body a.active,
.btn-link.active {
	outline-color: rgb(253, 241, 0) !important;
}

.btn-info {
	background-image: linear-gradient(to bottom, #fdfdfd 0, black 100%) !important;
}

#topbar-first #nav-notifications-menu li.notification-unseen {
	background-color: #e0e0e0 !important;
}

.nav-pills .dropdown-menu li > a,
.nav-tabs .dropdown-menu li > a,
.account .dropdown-menu li > a,
.contact-photo-wrapper .dropdown-menu li > a {
	border-left: 3px solid #a08f70 !important;
}

.nav-pills .dropdown-menu li > a:hover,
.nav-tabs .dropdown-menu li > a:hover,
.account .dropdown-menu li > a:hover,
.contact-photo-wrapper .dropdown-menu li > a:hover,
.nav-pills .dropdown-menu li.selected a,
.nav-tabs .dropdown-menu li.selected a,
.account .dropdown-menu li.selected a,
.contact-photo-wrapper .dropdown-menu li.selected a {
	background: #666666 !important;
}
